<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subscribe</title>
</head>
<body>
    <form align = "center" method = "POST" action = "{{url_for('subscribe_server')}}">
        Topic Name: <input type = "text" name = "topic"></input>
        --from-beginning(True or False): <input type = 'text' name = "from_beginning" placeholder="False" value = "False"></input>
        <input type = "submit" value = "Enter">
    </form>
    <p id = 'data'>{{data}}</p>
</body>
</html>